*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/

db/api_key.txt
api_key.txt
Gemfile.lock
TEXT.md


.bundle
.DS_Store
config/database.yml
log/*.log
tmp/
.sass-cache/
.DS_store
coverage
doc/api
doc/app
curriculum/.pygments-cache
curriculum/public/*
public/assets
*.tmproj
*~
\#*#
.idea/
ignored/
.irb-save-history
chromedriver.log
.tddium*
bin/
.env
*.swp
