.container {
  width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 1px dotted black;
}

.post {
  margin-bottom: 5%;
}

h3
{
  text-align: center;
}

footer
{
  margin-left: 7%;
  margin-right: 7%;
}

#left-header {
  float: left;
}

#right-header {
  float: right;
}

#computer-logo {
  height: auto;
  width: auto;
  max-width: 150px;
  max-height: 150px;
}
