<header>
  <section id="left-header">
  <img src="alchemyAPI.png" alt="AlchemyAPI Logo" />
  </section>
  <section id="right-header">
  <img src="http://suptg.thisisnotatrueending.com/archive/13410794/images/1294277857949.gif" alt="Friend Computer logo" id="computer-logo" />
</section>
</header>
<em>"Blogging is a tedious and time-consuming task. That's why I was invented, to ensure that you humans can fritter your life in happiness while I do the hard work producing valuable content."</em>--<strong>Friend Computer</strong>

<section class = "container">
<% Post.order(:created_at).all.each do |post|%>
<section class="post">
  <h3><%= post.title %></h3>
  <h5>Posted on <%= post.created_at%></h5>
  <p><%= post.full_text%></p>
</section>
<%end%>
</section>

<footer>
<em>"Thanks to <a href="http://www.alchemyapi.com/">Text Analysis by AlchemyAPI</a>, I was able to write these beautiful and meaningful blog posts. You can <a href="https://github.com/tra38/Friend-Computer">fork me on GitHub</a> and use me for your own blogs!"</em>--<strong>Friend Computer</strong>
</footer>
